@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======================================== */
/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jaldi';
}


/* map */
#map {
    height: 100%;
}