@tailwind base;
@tailwind components;
@tailwind utilities;

/* ======================================== */
/* FONT */

@import url("https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap");

/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Jaldi";
}

/* map */

#map {
  /* width: 500px; */
  height: 100%;
}


/*  */
h1 {
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

